.quizBody{
    background-color: #0f55a4;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.quizQuestion{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quizOptions{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

