
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

:root {
    --primary-color: #6C9BCF;
    --color-White: #d0d0d0;
    --color-dark: #363636;
    --color-info-dark: #7d8Ba1;
    --color-info-light: #e4e7ea;
    --color-success: #28a745;
    --color-light: rgba(132, 139, 200, 0.18);
    --primary-font: 'Montserrat', sans-serif;
    --card-border-radius: 2rem;
    --border-radius-1: 0.5rem;
    --border-radius-2: 1rem;
    --color-background: #f6f6f9;

    --card-padding: 2rem;
    --padding-1:1.5rem;

    --box-shadow: 0 1rem 2rem var(--color-light);

}

.dark-mode-var{
    --primary-color: #6C9BCF;
    --color-background: #363636;
    --color-White: #202529;
    --color-light: rgba(0,0,0,0.1);
    --color-dark: #edefef;
    --color-dark-varient: #a3bdcc;
    --box-shadow: 0 1rem 2rem var(--color-light);) ;

}

.blue{
    color: #0c7db1;
}

*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    appearance: none;
    font-family: var(--primary-font), sans-serif;

}
body{
    background-color: var(--color-background);
    color: var(--color-dark);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
}
a{
    color: var(--color-dark);
    text-decoration: none;
    transition: all 0.5s ease;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

}

h1{
    font-size: 2rem;
    font-weight: 800;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
}
h3{
    font-size: 1.25rem;
    font-weight: 600;
}

small{
    font-size: 0.8rem;
    font-weight: 400;
}
p{
    color: var(--color-dark-varient);
}
b{
    color: var(--color-dark);
}
.textMuted{
    color: var(--color-info-dark);
}
.primaryColor{
    color: var(--primary-color);
}

html, body , .container {
    height: 100%;
    margin: 0;
}

@media screen and (max-width: 1200px){
    .container{
        grid-template-columns: 0.3fr 1.6fr 1fr;
    }
   .container .toggle,
   .container main,
   .container .Top-bar{

       padding: 20px 20px 0 20px;

   }
   .sidebar  h2{
       display: none;
   }
   .sidebar a{
       align-items: center;
   }

}
@media  screen and (max-width: 992px){
    .container{

    }
}









