body {
    overflow-x: auto;
}

#timetable-all {
    margin-top: 38px;
    display: block;
    align-items: center;
}

#timetable-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -68px;
}

#timetable-container {
    padding: 50px;
    background-color: #ffffff;
    margin-left: 100px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s ease all;
}

body.dark #timetable-container {
    background-color: #1e1e1e;
}

#timetable {
    width: 800px;
    border-collapse: collapse;
}

#timetable th {
    border: 1px solid #000000;
    padding: 10px;
    font-weight: 300;
    text-align: center;
    width: 100px;
    transition: 0.3s ease all;
}

body.dark #timetable th {
    border: 1px solid #ffffff;
}

#timetable td {
    height: 50px;
    border: 1px solid #000;
    padding: 10px;
    font-weight: 300;
    transition: 0.3s ease all;
}

body.dark #timetable td {
    border: 1px solid #ffffff;
}

#week-range {
    user-select: none;
    font-size: 20px;
    margin-left: 720px;
}

#year-heading {
    position: absolute;
    user-select: none;
    margin-left: 100px;
}

#prev-week, #next-week {
    padding: 0;
    position: relative;
    top: -14px;
    right: 350px;
    user-select: none;
    z-index: 1;
}

#prev-week:hover, #next-week:hover {
    cursor: pointer;
}

#current-week {
    position: relative;
    top: -15px;
    right: 350px;
    user-select: none;
    z-index: 1;
}

#current-week:hover {
    cursor: pointer;
}