.container{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr 1fr;
    grid-template-rows: 0.3fr 2.6fr 0.2fr;
    gap : 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
}
.aside{
    grid-area: sidebar;

}
.Top-bar{
    grid-area: header;
}
.mainBody {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr 1.9fr 0.1fr;
    grid-template-rows: 0.2fr 2.6fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . ."
    ". assignmentMaker assignmentMaker ."
    ". assignmentMaker assignmentMaker ."
    ". . . .";
    grid-area: main;
}
.assignmentMaker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "assignment_header assignment_header assignment_header"
    "assignment assignment assignment"
    "assignment assignment assignment";
    grid-area: assignmentMaker;
}
.assignment_header { grid-area: assignment_header; }
.assignment { grid-area: assignment; }
.footer { grid-area: footer; }