.container {  display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr;
    grid-template-rows: 0.3fr 2.6fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Top-bar Top-bar Top-bar"
    "side-bar main main"
    "side-bar . .";
}

.Top-bar { grid-area: Top-bar; }

.side-bar { grid-area: side-bar; }

.main {  display: grid;
    grid-template-columns: 0.1fr 2.8fr 0.1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "main-top main-top main-top"
    ". main-work ."
    ". main-work .";
    grid-area: main;
}

.main-top {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "tabs tabs tabs"
    "tabs tabs tabs"
    "stats-bar stats-bar stats-bar";
    grid-area: main-top;
}

.stats-bar { grid-area: stats-bar; }

.tabs { grid-area: tabs; }

.main-work { grid-area: main-work; }
