.container {  display: grid;
    grid-template-columns: 0.4fr 1.6fr 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.12fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "sideBar topBar topBar"
    "sideBar mainBody mainBody"
    "sideBar footer footer";
}

.Top-bar { grid-area: topBar; }

.aside { grid-area: sideBar; }

.main {  display: grid;
    grid-template-columns: 0.2fr 1.8fr 1.9fr 0.1fr;
    grid-template-rows: 0.2fr 2.6fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . ."
    ". courseCard courseCard ."
    ". courseCard courseCard ."
    ". . . .";
    grid-area: mainBody;
}

.courseCard {  display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "courseNav courseNav courseNav"
    "quizBody quizBody quizBody"
    "quizBody quizBody quizBody";
    grid-area: courseCard;
}

.quizBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "quizHeader quizHeader quizHeader"
    "quizPage quizPage quizPage"
    "quizPage quizPage quizPage";
    grid-area: quizBody;
}
.quizHeader { grid-area: quizHeader; }
.quizPage { grid-area: quizPage; }

.courseNav {  display: grid;
    grid-template-columns: 0.5fr .5fr .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "course-videos course-files course-quiz ."
    "course-videos course-files course-quiz ."
    "course-videos course-files course-quiz .";
    grid-area: courseNav;
}

.course-videos { grid-area: course-videos; }

.course-files { grid-area: course-files; }

.course-quiz { grid-area: course-quiz; }

.footer { grid-area: footer; }
