.container{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr 1fr;
    grid-template-rows: 0.3fr 2.6fr 0.2fr;
    gap : 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
}
.aside{
    grid-area: sidebar;

}
.Top-bar{
    grid-area: header;
}
.mainBody {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr 1.9fr 0.1fr;
    grid-template-rows: 0.2fr 2.6fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . ."
    ". assignment assignment ."
    ". assignment assignment ."
    ". . . .";
    grid-area: mainBody;
}
.assignment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "assignmentTitle assignmentTitle assignmentTitle"
    "assignmentBody assignmentBody assignmentBody"
    "assignmentBody assignmentBody assignmentBody";
    grid-area: assignment;
}
.assignmentTitle { grid-area: assignmentTitle; }
.assignmentBody { grid-area: assignmentBody; }
.footer { grid-area: footer; }


.assignment {
    margin-top: 5px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 52rem;
    background-color: #ffffff;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    transition: all ease 0.3s;
}

body.dark .assignment {
    background-color: #1e1e1e;
}

.assignmentBody{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    margin: 0px 5px;
    transition: 0.3s;
    overflow: scroll;
    overflow-x: hidden;
}

.assignments {
    border-bottom: 1px solid;
    border-bottom-color: var(--border-colors);
}

.assignmentTitle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 0px 5px;
    border-bottom: 1px solid;
}

.assignments p {
    color: #000000;
}

body.dark .assignments p {
    color: #ffffff;
}

.assignments a {
    font-weight: 600;
    color: #0c7db1;
}

.assignments a:hover {
    color: #000000;
}

body.dark .assignments a:hover {
    color: #ffffff;
}

.assignmentBody::-webkit-scrollbar {
    width: 10px;
}

.assignmentBody::-webkit-scrollbar-track {
    background: transparent;
}

.assignmentBody::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.assignmentBody::-webkit-scrollbar-thumb:hover {
    background: #555;
}

